<div class = "center hero-unit">
<%provide(:title,'Mehmet Ogutcan | Anasayfa') %>

<h3> Anasayfa </h3>

<h1> Under Construction </h1>

<p> Sayfa  Title ını 
   <code> app/views/layouts/application.html.erb </code>cekiyor 
</p>

<%= link_to " Simdi Giris Yap!", signup_path, class: "btn btn-large btn-primary" %>


</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://www.google.com' %>


  



