<footer class= "footer">
<small>
  <a href= "#"> universitedergisi </a>
  by Mehmet Öğütcan
</small>

<nav>
<ul>
  <li> <%= link_to "Hakkinda", about_path %> </li>

  <li> <%= link_to "İletişim" , contact_path%> </li>

  <li> <a href = "#">News </a>                         </li>

</ul>
</nav>
</footer>

